In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [5]:
df2 = pd.read_excel('weather_data.xlsx','Sheet1')
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [6]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/03/2017'],
    'temperature': ['32','33','34'],
    'windspeed': ['6','7','2'],
    'event': ['Rain','Sunny','Snow']    
}

df3 = pd.DataFrame(weather_data)
df3

         day temperature windspeed  event
0   1/1/2017          32         6   Rain
1   1/2/2017          33         7  Sunny
2  1/03/2017          34         2   Snow

In [10]:
weather_data =[
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',33,7,'Sunny'),
    ('1/03/2017',34,2,'Snow')
]    

df4 = pd.DataFrame(weather_data, columns=['Day','temperature','windspeed','weather'])
df4

         Day  temperature  windspeed weather
0   1/1/2017           32          6    Rain
1   1/2/2017           33          7   Sunny
2  1/03/2017           34          2    Snow